doctype html
html 
    head
        title Simple Web Shop
        link(rel='stylesheet', href='/css/main.css')
    body
        div(class='main')
            div(class='topbar')
            div(class='iconBar')
                div(class='container')
                    div(class='login_register')
                        img(id='homeBtn', href='/', src='images/home.png') 
                        a(id='loginBtn', href='/login') Login
                        a(id='registerBtn', href='/register') Register
                    div(id="cartContainer" class='cart')
                        img(id="cartImage" src='images/shoppingcart.png')
                        a(id='productCount') #{count}
                        a(id='totalAmount') #{totalAmount} €
            div(class='header')
                div(class='container')
                    div(class='navbar')
                        a(href='#') TOPSELLER
                        a(href='#') PC-KONFIGURATOR
                        a(href='#') GRAFIKKARTEN
                        a(href='#') MOTHERBOARD
                        a(href='#') CONTACT
            div(class='welconme_text')
                div(class='container')
                    h1 WELCOME TO #[span BCP] CHECK OUR LATEST OFFER
            div(class='event_section')
                div(class='container')
                    div(class='firstEvent')
                        h3 CHECKOUT
                        p TEXT TEXT TEXT TEXT TEXT
                    div(class='secondEvent')
                        h3 CHECKOUT
                        p TEXT TEXT TEXT TEXT TEXT
                    div(class='thirdEvent')
                        h3 CHECKOUT
                        p TEXT TEXT TEXT TEXT TEXT
            div(class='product')
                div(class='container')
                    div(class='product_section_title') #{sectionTitle}
                    each product in products
                        div(class='productCard')
                            div(class='productImg')
                                img(src=product.IMAGE_PATH)
                            div(class='productText')
                                h4 #{product.NAME}
                            div(class='starIcon')
                                img(src='images/star_yellow.png')
                                img(src='images/star_yellow.png')
                                img(src='images/star_yellow.png')
                                img(src='images/star_yellow.png')
                                img(src='images/star_black.png')
                            div(class='productDesc') #{product.DESCRIPTION}
                            div(class='productPrice')
                                div(class='price') #{product.PRICE}
                            div(class='button')
                               a(id='adToCard', href='/shoppingcard/add?id=' + product.ID +'&price=' + product.PRICE) In den Warenkorb
    script(type="module", src='/script/main.js')
    




