doctype html
html
    head
        title Mein Konto
        link(rel='stylesheet', href='/css/details.css')
        link(href="https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap" rel="stylesheet")
    body
        .main()
            .topbar()
            .iconBar()
                .container()
                    .login_register()
                        a(href='/homeBtn?userid=' + userdata.id) 
                            img(id='homeBtn', src='images/home.png') 
                        a(id='logoutBtn', href='/logout?userid=' + userdata.id) Abmelden
            .header()
                .headerh3() #[h3 Mein Konto]
            .greetings()    #[strong Willkommen, #{userdata.surname} #{userdata.name}]
                            |
                            br
                            | Dies ist dein Kundenkonto. Hier hast du die Möglichkeit, deinen Shop-Bestellungen
                            br
                            | einzusehen und deine Kontaktdaten zu bearbeiten.
            .container()
                .row()
                    .grid()
                        .grid-inner()
                            .grid-inner-element()
                                strong Persönliche Daten
                                |
                                hr(style='border-color: #fcc508;')
                                |
                                .boxText()
                                    | #{userdata.surame} #{userdata.name}
                                    br
                                    | #{userdata.birthdate}
                                    br
                                    | #{userdata.email}
                                .grid-inner-element-button()
                                    a(id='change', href='/details') Ändern
                        .grid-inner()
                            .grid-inner-element()
                                strong Zahlungsarten
                                |
                                hr(style='border-color: #fcc508;')
                                |
                                .boxText()
                                    | #{userdata.description}
                                .grid-inner-element-button()
                                    a(id='change', href='/details') Ändern
                    .grid()
                        .grid-inner()
                            .grid-inner-element() 
                                strong Rechnungsadresse
                                |
                                hr(style='border-color: #fcc508;')
                                |
                                .boxText()
                                    | #{userdata.name} #{userdata.surname}
                                    br
                                    | #{userdata.street}
                                    br
                                    | #{userdata.shipping_zipcode}, #{userdata.city}
                                .grid-inner-element-button()
                                    a(id='change', href='/details') Ändern
                        .grid-inner()
                            .grid-inner-element()
                                strong Lieferadresse
                                |
                                hr(style='border-color: #fcc508;')
                                |
                                .boxText()
                                    | #{userdata.shipping_name} #{userdata.shipping_surname}
                                    br
                                    | #{userdata.shipping_street}
                                    br
                                    | #{userdata.shipping_zipcode}, #{userdata.shipping_city}
                                .grid-inner-element-button()
                                    a(id='change', href='/details') Ändern
    script(type="module", src='/script/details.js')