doctype html
html 
    head
        title Simple Web Shop
        link(rel='stylesheet', href='/css/main.css')
        link(href="https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap" rel="stylesheet")
    body
        .main()
            .topbar()
            .iconBar()
                .container()
                    .login_register()
                        img(id='homeBtn', src='images/home.png') 
                        a(id='loginBtn', href='/login') Login
                        a(id='registerBtn', href='/register') Registrierung

                        if(userid)
                            a(id='myAccount', href='/details?id=' + userid) Mein Konto
                    .cart(id='cartContainer')
                        img(id="cartImage" src='images/shoppingcart.png')
                        a(id='productTotalCount') #{count}
                        a(id='totalAmount') #{totalAmount} €
            .header()
                .container()
                    .navbar()
                        a(href='#') TOPSELLER
                        a(href='#') PC-KONFIGURATOR
                        a(href='#') GRAFIKKARTEN
                        a(href='#') MOTHERBOARD
                        a(href='#') CONTACT
                .welconme_text()
                    .container()
                        img(class='logo img', src='images/logo.png', style='max-height: 50px;')
            .product()
                .container()
                    .product_section_title() #{sectionTitle}
                    each product in products
                        .productCard()
                            .productImg()
                                img(class='product_img img', src=product.image_path)
                            .productText()
                                h4 #{product.description}
                            .product_desc()
                                if product.stock == 0
                                    .aufLagerContainer()
                                        h4 Verfügbarkeit: #[img(class='redDot')]
                                else if product.stock > 0 && product.stock <= 5
                                    .aufLagerContainer()
                                        h4 Verfügbarkeit: #[img(class='orangeDot')]
                                else
                                    .aufLagerContainer()
                                        h4 Verfügbarkeit: #[img(class='greenDot')]
                            .product_price()
                                .price() #{product.price.toFixed(2)} €
                            button(class='button')
                               a(id='adToCard', href='/shoppingcard/add?id=' + product.id +'&price=' + product.price + '&name=' + product.name + '&stock=' + product.stock) In den Warenkorb
    script(type="module", src='/script/main.js')
    




