doctype html
html 
    head
        title Simple Web Shop
        link(rel='stylesheet', href='/css/main.css')
    body
        .main()
            .topbar()
            .iconBar()
                .container()
                    .login_register()
                        img(id='homeBtn', src='images/home.png') 
                        a(id='loginBtn', href='/login') Login
                        a(id='registerBtn', href='/register') Register
                    .cart(id='cartContainer')
                        img(id="cartImage" src='images/shoppingcart.png')
                        a(id='productTotalCount') #{count}
                        a(id='totalAmount') #{totalAmount} €
            .header()
                .container()
                    .navbar()
                        a(href='#') TOPSELLER
                        a(href='#') PC-KONFIGURATOR
                        a(href='#') GRAFIKKARTEN
                        a(href='#') MOTHERBOARD
                        a(href='#') CONTACT
            .welconme_text()
                .container()
                    h1 WELCOME TO #[span BCP] CHECK OUR LATEST OFFER
            .event_section()
                .container()
                    .firstEvent()
                        h3 CHECKOUT
                        p TEXT TEXT TEXT TEXT TEXT
                    .secondEvent()
                        h3 CHECKOUT
                        p TEXT TEXT TEXT TEXT TEXT
                    .thirdEvent()
                        h3 CHECKOUT
                        p TEXT TEXT TEXT TEXT TEXT
            .product()
                .container()
                    .product_section_title() #{sectionTitle}
                    each product in products
                        .productCard()
                            .productImg()
                                a(href='/productInfo?id='+product.id) 
                                    img(src=product.image_path)
                            .productText()
                                h4 #{product.name}
                            .starIcon()
                                img(src='images/star_yellow.png')
                                img(src='images/star_yellow.png')
                                img(src='images/star_yellow.png')
                                img(src='images/star_yellow.png')
                                img(src='images/star_black.png')
                            .productDesc() Noch #{product.stock} auf Lager
                            .productPrice()
                                .price() #{product.price}
                            button
                               a(id='adToCard', href='/shoppingcard/add?id=' + product.id +'&price=' + product.price + '&name=' + product.name + '&stock=' + product.stock) In den Warenkorb
    script(type="module", src='/script/main.js')
    




