doctype html
html 
    head
        title Simple Web Shop
        link(rel='stylesheet', href='/css/productInfo.css')
    body
        .main()
            .topbar()
            .iconBar()
                .container()
                    .login_register()
                        img(id='homeBtn', src='images/home.png') 
                        a(id='loginBtn', href='/login') Login
                        a(id='registerBtn', href='/register') Register
            .productCard()
                .productImg() 
                    img(src=product.image_path)
                .productText()
                    h4 #{product.name}
                .starIcon()
                    img(src='images/star_yellow.png')
                    img(src='images/star_yellow.png')
                    img(src='images/star_yellow.png')
                    img(src='images/star_yellow.png')
                    img(src='images/star_black.png')
                .productDesc() Noch #{product.stock} auf Lager
                .productPrice()
                    .price() #{product.price}
                .button()
                    a(id='adToCard', href='/shoppingcard/add?id=' + product.id +'&price=' + product.price + '&name=' + product.name + '&stock=' + product.stock) In den Warenkorb
                form
                    label(for="fname") Kommentar
                    input(type="text" id="fname" name="fname")
            .commentaries()
                each commentarie in commentaries
                    .container()
                        h4 #{commentarie.username}
                        h3 #{commentarie.text}
            